.alert_body {
	position:fixed;
	top:100px;
	left:10vw;
	width:80vw;
	border-radius:30px;
	background-color:rgba(0, 0, 0, 0.861);
	border:3px solid rgb(255,255,255);
	height:fit-content;
	padding:10px;
	box-sizing:border-box;
	z-index:21;
}
.title_text {
	text-align:center;
	color:white;
	font-family:'Kode Mono';
	font-size:30px;
}
.body_text {
	text-align:center;
	color:rgb(129, 129, 129);
	font-family:'Kode Mono';
	font-size:20px;
}
.alert_button {
	width:80%;
	margin-left:10%;
	border:3px solid white;
	background-image:linear-gradient(to right, #d56bffff, #8f5fffff);
	height:50px;
	color:white;
	font-family:'Kode Mono';
	box-sizing:border-box;
	border-radius:25px;
	margin-bottom:10px;
	font-size:20px;
}
.blur-div {
	background-color:rgba(0, 0, 0, 0.416);
	backdrop-filter:blur(5px);
	width:100vw;
	height:100vh;
	position:fixed;
	top:0px;
	left:0px;
	z-index:20;
	display:none;
}





@media (max-height: 750px) {
	.hour-select {
		width:60vw;
		height:40px;
		margin-left:20vw;
		font-size:20px;
		margin-top:10px;
	}
	#top-title {
		height:70px;
	}
	#title {
		font-size:40px;
	}
	#progress-bar {
		top:70px;
	}
	#welcome {
		margin-top:90px;
	}
	.nameentry {
		width:60vw;
		height:40px;
		margin-left:20vw;
		font-size:20px;
		margin-top:10px;
	}
	#name {
		margin-bottom:5px;
	}
	#log-hours-container {
		margin-top:-10px;
	}
}
@media (max-height: 820px) and (min-height: 750px) {
	.hour-select {
		width:60vw;
		height:40px;
		margin-left:20vw;
		font-size:20px;
		margin-top:10px;
	}
	#top-title {
		height:70px;
	}
	#title {
		font-size:40px;
	}
	#progress-bar {
		top:70px;
	}
	#welcome {
		margin-top:90px;
	}
	.nameentry {
		width:60vw;
		height:40px;
		margin-left:20vw;
		font-size:20px;
		margin-top:10px;
	}
	#name {
		margin-bottom:5px;
	}
	#log-hours-container {
		margin-top:-10px;
	}
}